<!DOCTYPE html>
<html>
<head>
    <title>Violence Detection System</title>

    <style>
        body {
            background: #0f172a;
            color: white;
            text-align: center;
            font-family: Arial;
        }

        h1 {
            color: #22c55e;
        }

        img {
            border: 4px solid #22c55e;
            border-radius: 12px;
            margin-top: 20px;
        }
    </style>
</head>

<body>

<h1>Real-Time Violence Detection</h1>

<img src="{{ url_for('video') }}" width="900">

</body>
</html>